<p-table [value]="groups" dataKey="id" styleClass="p-datatable-customers rowexpand-table">
          <ng-template pTemplate="header" let-group>
            <tr>
              <th style="width: 3rem"></th>
              <th pSortableColumn="typeName">
                Kategorie <p-sortIcon field="typeName"></p-sortIcon>
              </th>
              <th pSortableColumn="verifiedChange">
                Tatsächliche Kosten <p-sortIcon field="verifiedChange"></p-sortIcon>
              </th>
              <th pSortableColumn="estimatedChange">
                Angenommene Kosten <p-sortIcon field="estimatedChange"></p-sortIcon>
              </th>
              <th *ngFor="let participant of participants" pSortableColumn="group.calculatedParticipantPayment[participant]">
                {{participant.name}}<p-sortIcon field="group.calculatedParticipantPayment[participant]"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-group let-expanded="expanded">
            <tr>
              <td>
                <button
                  type="button"
                  pButton
                  pRipple
                  [pRowToggler]="group"
                  class="p-button-text p-button-rounded p-button-plain"
                  [icon]="
                    expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'
                  "
                ></button>
              </td>
              <td>
                <span class="p-column-title">Name</span>{{ group.typeName }}
              </td>
              <td>
                {{ group.verifiedChange }}
              </td>
              <td>
                {{ group.estimatedChange }}
              </td>
              <td *ngFor="let participant of participants">
                {{group.calculatedParticipantPayments.get(participant.name)}}
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="rowexpansion" let-group>
            <tr>
              <td colspan="5">
                <div class="p-3">
                  <p-table [value]="group.positions" dataKey="id">
                    <ng-template pTemplate="header">
                      <tr>
                        <th pSortableColumn="id">
                          Id <p-sortIcon field="id"></p-sortIcon>
                        </th>
                        <th pSortableColumn="description">
                          Description <p-sortIcon field="description"></p-sortIcon>
                        </th>
                        <th pSortableColumn="partnerName">
                          Partner Name <p-sortIcon field="partnerName"></p-sortIcon>
                        </th>
                        <th pSortableColumn="date">
                          Date <p-sortIcon field="date"></p-sortIcon>
                        </th>
                        <th pSortableColumn="positionType">
                          Type <p-sortIcon field="positionType"></p-sortIcon>
                        </th>
                        <th pSortableColumn="value">
                          Value <p-sortIcon field="value"></p-sortIcon>
                        </th>
                        <th style="width: 4rem"></th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-position>
                      <tr>
                        <td>
                          <span class="p-column-title">Id</span>{{ position.id }}
                        </td>
                        <td>
                          <span class="p-column-title">Description</span
                          >{{ position.description }}
                        </td>
                        <td>
                          <span class="p-column-title">Partner Name</span
                          >{{ position.partnerName }}
                        </td>
                        <td>
                          <span class="p-column-title">Date</span
                          >{{ position.date | date}}
                        </td>
                        <td>
                          <span class="p-column-title">Position Type</span>
                          <span>{{ position.positionType }}</span>
                        </td>
                        <td>
                          <span class="p-column-title">Value</span
                          >{{ position.value | currency: "EUR" }}
                        </td>
                        <td>
                          <p-button
                            type="button"
                            icon="pi pi-search"
                          ></p-button>
                        </td>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                      <tr>
                        <td colspan="6">
                          There are no order for this product yet.
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
