::ng-deep datatable-calculations datatable-calculations-table {
  border-collapse: collapse;
  p-datatable-tfoot{
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-width: 1px 1px 1px 1px;
  }
}
